<html>
    <head>
        <title>NoizChain</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://localhost");
        </script>

        <!-- <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
        <script type="text/javascript" src="./js/phone-signin-config.js"></script>
        <script>
            firebase.initializeApp(config);
        </script> -->

        <link rel="stylesheet" href="style/betaVersionNoiz_style.css" />
        <link rel="stylesheet" href="style/betaVersionNoiz_responsive.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    </head>
    <body>
        
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div id="ads">
                    <p class="preload"><span>&#9679;</span><span>&#9679;</span><span>&#9679;</span></p>
                    <div id="chatbot">
                        <div id="wrapper-content">
                            <div id="chat-content">
                            </div>
                        </div>
                        <div id="chat-input">
                            <form id="chat-form">
                                <span id="cover-input"><input type="text" name="mess" autofocus/></span>
                            </form>
                        </div>
                    </div>
                    <div id="btn-skip" onclick="skip()"></div>
                    <!-- <i class="far fa-times-circle"></i> -->
                </div>
            </div>
        </div>

    </div>
        <script>
            var setPhoneNumber = false;
            var setVerifyCode = false;
            var intent_currently;
            var ask_email = 0;
            var ask_name = 0;
            $(document).ready(function(){
                socket.on("betaversion_intent",function(data){
                    intent_currently = data;
                    console.log(intent_currently);

                    switch(intent_currently){
                        case "NoizChain_Connor_AskEmail":
                            if(ask_email == 0){
                                ask_email = 1;
                                $("#chat-input").css("display","block");
                            }
                            else $("#chat-input").css("display","none");
                            break;

                        case "NoizChain_Connor_AskEmail - yes":
                            if(ask_name == 0){
                                ask_name = 1;
                                $("#chat-input").css("display","block");
                            }
                            else $("#chat-input").css("display","none");
                            break;

                        case "NoizChain_Connor_GenderLater":
                            $("#chat-input").css("display","block");
                            break;

                        case "NoizChain_Connor_AskAge-yes":
                            $("#chat-input").css("display","block");
                            break;

                        default: 
                            $("#chat-input").css("display","none");
                    }
                });

                $("#ads").css({'height':'100%'});
                //Greeting

                //init chatbot
                $('#protect-chatbot').css('display','none');
                socket.emit("betaversion_chatbot",'greeting');
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                setInterval(function(){$('input[name=mess]').focus();}, 500);


                //Receive mess from chatbot
                socket.on("betaversion_chatbot",function(data){
                    $("#chat-input input").css('width','1px');
                    $("#ads").css('height','100%');
                    var newMess = getResponse(data);
                    $('#chat-content').append(newMess);
                    $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                })
                // End receive from chatbot
                

                //Send mess from client to chatbot
                $('#cover-input i').click(function(){
                    $('#chat-form').submit();
                })

                //User type input
                $('#chat-form').submit(function(e){
                    e.preventDefault();
                    
                    var mess = $('input[name="mess"]').val();
                    $('input[name="mess"]').val("");
                    // if (setPhoneNumber){
                    //     $("#phone-number").val(mess);
                    //     var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                    //     $('#chat-content').append(newMess);
                    //     $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    //     if (isPhoneNumberValid()){
                    //         setPhoneNumber = false;
                    //         $("#submit-phone-number").click();
                    //     }
                    //     else {
                    //         var newMess = "<div class='message'><p class='server-mess'>" + "Your phone number's incorrect! Type again" +"</p></div>";
                    //         $('#chat-content').append(newMess);
                    //         $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    //     }
                       

                    // }
                    // else if(setVerifyCode){
                    //     // setVerifyCode = false;
                    //     $('#verification-code').val(mess);
                    //     $('#submit-verify-code').click();
                    //     var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                    //     $('#chat-content').append(newMess);
                    //     $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    // }
                    $('#btn-skip').css('display','none');
                    $('#chatbot').css('visibility','hidden');
                    $('#chat-content').empty();
                    $('.preload').css('display','inline-block');

                    if(mess!=""){
                        // var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        // $('#chat-content').append(newMess);
                        socket.emit("betaversion_chatbot",mess);
                        $("#chat-content").css({'height':'0'});
                        // $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    }

                    setTimeout(function(){
                        $('.preload').css('display','none');
                        $('#btn-skip').css('display','inline-block');
                        $('#chatbot').css('visibility','visible');
                    },1000); 
                })
                // End send mess from client to chatbot

            })

            function skip(){
                window.location.href = "https://noizchain.com/";
            }
            function choose(answer){ //click answer will change color background and send mess from client to chatbot
                // $("#ads").css('height','0');
                $('#btn-skip').css('display','none');
                $('#chatbot').css('visibility','hidden');
                $('#chat-content').empty();
                $('.preload').css('display','inline-block');

                $(answer).css('background-color','orange');
                var mess = $(answer).text();
                switch(mess){
                    case "End Chat":
                        window.location.href = "https://noizchain.com/";
                        break;

                    case "NOIZ Platform":
                        window.location.href = "https://noizchain.com/lifestyle-personal/";
                        break;   

                    case "NOIZ Cognitive Ad":
                        window.location.href = "https://noizchain.com/advertise/";
                        break;

                    case "NOIZ token":
                        window.location.href = "https://noizchain.com/noiz-token/";
                        break;
                    
                    case "Contact NOIZ team":
                        window.location.href = "mailto:hello@noizchain.com";
                        break;

                }
                socket.emit("betaversion_chatbot",mess);
                $("#chat-content").css({'height':'0'});
                
                setTimeout(function(){
                    $('.preload').css('display','none');
                    $('#btn-skip').css('display','inline-block');
                    $('#chatbot').css('visibility','visible');
                },1500);   
            }

            function getResponse(data){ //analyze mess from chatbot send to client
                var response = data.response.listValue.values;
                var answer = data.answer.listValue.values;
                var image = "";
                if (data.image){
                    image = data.image.listValue.values;
                }
                var video = "";
                var idVideo = "";
                if (data.video){
                    video = data.video.listValue.values;
                    var findStartId = video[0].stringValue.indexOf("?v=");
                    var findStopId = video[0].stringValue.indexOf("&");
                    if (findStopId < 0){
                        findStopId = video[0].stringValue.length;
                    }
                    var idVideo = video[0].stringValue.slice(findStartId+3,findStopId);
                }
                var res_result = "<div class='message'>";
                if (response.length > 0){
                    for (var i=0;i<response.length;i++){
                        res_result += "<p class='server-mess'>" + response[i].stringValue + "</p>";
                    }
                    res_result += "</div>";
                }
                
                var ans_result = "";
                if (answer.length > 0){
                    ans_result = "<div class='message'>";
                    for (var i=0;i<answer.length;i++){
                        ans_result += "<div class='cover-answer'>" + 
                                        "<p class='answer' onclick='choose(this)'>" + answer[i].stringValue + "</p>"+
                                    "</div>";
                    }
                    ans_result += "</div>";
                }
                var img_result = "";
                if (image.length > 0){
                    var img_result = "<div class='owl-carousel owl-theme' id='img-owl-carousel'>";
                    for (var i=0;i<image.length;i++){
                        img_result += "<div class='item'>" + image[i].stringValue + "</div>";
                    }
                    img_result += "</div>"; 
                    img_result += "<div class='owl-btn row'>"  +
                                    "<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>" +
                                        "<div class='btn-previous'><i class='fa fa-angle-left' aria-hidden='true'></i></div>" +
                                    "</div>" +
                                    "<div class='col-lg-6 col-md-6  col-sm-6 col-xs-6'>" +
                                        "<div class='btn-next'><i class='fa fa-angle-right' aria-hidden='true'></i></div>" +
                                    "</div>" +
                                  "</div>";
                      
                }
                var video_result = "";
                if (video.length > 0){
                    var video_result = "<div class='message'>";
                    for (var i=0;i<video.length;i++){
                        video_result += "<div class='item'>" +
                                        "<iframe width='400' height='245' src='https://www.youtube.com/embed/" +
                                        idVideo +
                                        "?controls=1'></iframe>" +
                                        "</div>";
                    }
                    video_result += "</div>";
                }
                return (res_result + ans_result + img_result + video_result);
            }

            function getPicture(image){
                $('#btn-skip').css('display','none');
                $('.preload').css('display','inline-block');
                $('#chat-content').empty();

                setTimeout(function(){
                    var mess = $(image).attr('data-name');
                    socket.emit("betaversion_chatbot",mess);
                    $('.preload').css('display','none');
                    $('#btn-skip').css('display','inline-block');
                },1000);
            }
        </script>
        <script>
            var input = document.querySelector('input');
            input.addEventListener('keydown', autosize);
            function autosize(){
                var str =  $('#cover-input input').val();
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext("2d");
                ctx.font = "30px Arial";        
                var new_width = ctx.measureText(str).width + 30;
                // console.log(new_width);
                $('#cover-input input').css('width',new_width); 
            }
        </script>
    </body>
</html>