<html>
    <head>
        <title>Booking Room</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://localhost");
        </script>

        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
        <script type="text/javascript" src="./js/phone-signin-config.js"></script>
        <script>
            firebase.initializeApp(config);
        </script>

        <link rel="stylesheet" href="style/bookingroom_style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    </head>
    <body>
        
        <div class="container" id="remove-mobile-view">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div id="ads">
                    <input id="size" data-width=<%=width%> data-height=<%=height%> type="hidden">
                    <div id="chatbot">
                        <div id="powerBy">
                            <img src="./img/bookingroom/logos_02_bk.png" id="logo-mobile" class="hidden-sm hidden-md hidden-lg"/>
                            <a href="https://noizchain.com/">
                                <img src="./img/logo-noiz.png" />
                                <span>POWERED BY</span>
                            </a>
                        </div>
                        <div id="brand" class="hidden-xs">
                            <div class=" col-xs-4 col-sm-3 col-md-3 col-lg-3" id="logo-brand">
                                <img src="./img/bookingroom/logos_02.png" />
                            </div>
                        </div>

                        
                        <div id="wrapper-content">
                            <div id="chat-content">
                            </div>
                        </div>
                        <div id="chat-input">
                            <form id="chat-form">
                                <span id="cover-input"><input type="text" name="mess" placeholder="Ask something... "/><i class="fa fa-arrow-circle-up" aria-hidden="true" type="submit"></i></span>
                            </form>
                            <div id="protect-chatbot"></div>
                        </div>
                    </div>
                    <div id="multiple-size">
                        <div id="prime-size">
                            <h4>Multiple Sizes</h4>
                            <div class="chatbot-size">320 x 250</div>
                            <div class="chatbot-size">320 x 460</div>
                            <div class="chatbot-size">320 x 548</div>
                            <div class="chatbot-size">300 x 600</div>
                            <div class="chatbot-size">250 x 250</div>
                            <div class="chatbot-size">336 x 280</div>
                            <div class="chatbot-size">320 x 480</div>
                        </div>
                        <!-- <div id="multiple-language">
                            <h4>Multiple Language</h4>
                            <div class="mul-language" onclick="setLanguage(this)">English</div>
                            <div class="mul-language" onclick="setLanguage(this)">Chinese</div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="verify-container" style="display: none">
                <form id="type-phone-number" style="margin-bottom: 30px;">
                    <input placeholder="type your phone number" name="phone-number" id="phone-number"/>
                    <button id="submit-phone-number">Verify</button>
                </form>
                <form id="type-verify-code" style="margin-bottom: 30px;">
                    <input type="text" id="verification-code" type="text" placeholder="type verify code"/>
                    <input id="submit-verify-code" value="Send" type="submit"/>
                </form>
                <div id="show-result"></div>
            </div>

        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script>
            var setPhoneNumber = false;
            var setVerifyCode = false;
            var saveData = false;
            var phoneNumber;
            $(document).ready(function(){
                // Init first data from client (session_id, direction_domain, referrer_domain, client_location)
                var pos = document.cookie.indexOf("NOIZ_APP_ID");
                var NOIZ_APP_ID = document.cookie.slice(pos+12,pos+21);
                var direction_domain = window.location.href;
                var referrer_domain = document.referrer;
                $.getJSON('http://ip-api.com/json?callback=?', function(data) {
                    // customer_location = JSON.stringify(data, null, 2);
                    // console.log(customer_location);
                    var packetData = new Object();
                    packetData.NOIZ_APP_ID = NOIZ_APP_ID;
                    packetData.direction_domain = direction_domain;
                    packetData.referrer_domain = referrer_domain;
                    packetData.client_location = data;
                    packetData.timestamp = [];
                    socket.emit("bookingroom_init_data",packetData);
                });

                $('#protect-chatbot').css('display','none');
                socket.emit("bookingroom_chatbot",'Hello');
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                setInterval(function(){$('input[name=mess]').focus();}, 500);
                //multiple size for chatbot
         
                $('.chatbot-size').click(function(){
                    var size = $(this).text();
                    var width = parseInt(size.slice(0,3));
                    var height = parseInt(size.slice(6,9));
                    location.href = "/bookingroom_size?width=" + width + "&height=" + height;
                })
                // End Multiple size

                //multiple size for chatbot
                if ($(window).width() < 768){
                    var height_old = $("#chatbot").height();
                    var height_new = height_old - $("#brand").height();
                    $("#chatbot").height(height_new);
                    $("#remove-mobile-view").removeClass("container");
                }
                var width = $("#size").attr('data-width');
                var height = $("#size").attr('data-height');

                var img_link = "url(../img/bookingroom/hotel_cognitivead_bot-bg_" + width + "x" + height + ".png)";
                $("#wrapper-content").css("background-image",img_link);
                
                var width_device = $("#ads").width();
                if (width > width_device){
                    width = width_device;
                }
                $('#chat-content').css('width',width);
                
                var h1,h2,h3,h4;  
                if (height <= 280){
                    h1 = 37.5; //15%
                    h2 = 15;    // 5.5%
                    h4 = 28.5;  //11.3%
                    h3 = height - h1 - h2 - h4;
                    $('#chatbot').css({'width':width,'height':height}); // max
                    $('#brand').css('height',h1);
                    $('#powerBy').css('height',h2);
                    $('#powerBy span').css('right',60);
                    $('#powerBy span').css('font-size',8);
                    $('#powerBy span').css('line-height','15px');
                    $('#wrapper-content').css('height',h3);
                    $('#chat-content').css('height',h3);
                    $('#chat-input').css('height',h4);
                    $('#cover-input i').css('right',30);
                    $('#cover-input i').css('font-size',20);
                    $('#cover-input i.fa-arrow-circle-up').addClass('changed');
                }
                else if (height <= 480){
                    h1 = 69;
                    h2 = 25.5;
                    h4 = 52;
                    h3 = height - h1 - h2 - h4;
                    $('#chatbot').css({'width':width,'height':height}); // max
                    $('#brand').css('height',h1);
                    $('#powerBy').css('height',h2);
                    $('#powerBy span').css('right',100);
                    $('#powerBy span').css('font-size',10);
                    $('#powerBy span').css('line-height','30px');
                    $('#wrapper-content').css('height',h3);
                    $('#chat-content').css('height',h3);
                    $('#chat-input').css('height',h4);
                    $('#cover-input i').css('right',40);
                    $('#cover-input i').css('font-size',30);
                    $('#cover-input i.fa-arrow-circle-up').removeClass('changed');
                }
                else{
                    h1 = 82;
                    h2 = 30;
                    h4 = 62;
                    h3 = height - h1 - h2 - h4;
                    $('#chatbot').css({'width':width,'height':height}); // max
                    $('#brand').css('height',h1);
                    $('#powerBy').css('height',h2);
                    $('#powerBy span').css('right',100);
                    $('#powerBy span').css('font-size',10);
                    $('#powerBy span').css('line-height','30px');
                    $('#wrapper-content').css('height',h3);
                    $('#chat-content').css('height',h3);
                    $('#chat-input').css('height',h4);
                    $('#cover-input i').css('right',40);
                    $('#cover-input i').css('font-size',30);
                    $('#cover-input i.fa-arrow-circle-up').removeClass('changed');
                }
                // End Multiple size


                //Receive mess from chatbot
                socket.on("bookingroom_chatbot",function(data){
                    var newMess = getResponse(data);
                    showBotMess(newMess);
                    // $('#chat-content').append(newMess);
                    // $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    // if (newMess.indexOf("owl-carousel") != -1){
                    //     setCarousel();
                    // }
                })
                // socket.on("intent",function(data){
                //     if (data == "Check-image-test"){
                //         setPhoneNumber = true;
                //     }
                //     else if (data == "Quick Talk"){
                //         saveData = true;
                //     }
                // })
                socket.on("bookingroom_setPhoneNumber",function(data){
                    setPhoneNumber = true;
                })
                // End receive from chatbot
                

                //Send mess from client to chatbot
                $('#cover-input i').click(function(){
                    $('#chat-form').submit();
                })

                $('#chat-form').submit(function(e){
                    e.preventDefault();
                    $('#chat-form input').focus();

                    var mess = $('input[name="mess"]').val();
                    $('input[name="mess"]').val("");
                    if (setPhoneNumber){
                        phoneNumber = mess;
                        $("#phone-number").val(mess);
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        showClientMess2FA(newMess,mess);
                        if (isPhoneNumberValid()){
                            setPhoneNumber = false;
                            $("#submit-phone-number").click();
                        }
                        else {
                            var mess = "Your phone number is incorrect! Type again";
                            var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                            var response = [mess];
                            var data_config = configData(response,[]);
                            showBotMess2FA(newMess,data_config);
                        }
                    }
                    else if(setVerifyCode){
                        // setVerifyCode = false;
                        $('#verification-code').val(mess);
                        $('#submit-verify-code').click();
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        showClientMess2FA(newMess,mess);
                    }
                    else if (mess == "Watch Video"){
                        var count = 10;
                        var newMess = "<div id='countdown'></div>"
                        $('#chat-content').append(newMess);
                        var countDownStart = setInterval(function(){
                            count--;
                            if(count < 0){
                                clearInterval(countDownStart);
                            }
                            else $('#countdown').text(count);
                        },1000);
                    }
                    else if(mess!=""){
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        showClientMess(newMess,mess);
                    }
                    else if (saveData){
                        
                    }
                })
                // End send mess from client to chatbot

                
            })
            function showBotMess(data){
                $('#chat-content').append(data);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
            }
            function showClientMess(data,pureData){
                socket.emit("bookingroom_chatbot",pureData);
                $('#chat-content').append(data);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
            }
            function showBotMess2FA(data,pureData){
                socket.emit("bookingroom_botMess_2FA",pureData);
                $('#chat-content').append(data);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
            }
            function showClientMess2FA(data,pureData){
                socket.emit("bookingroom_clientMess_2FA",pureData);
                $('#chat-content').append(data);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
            }
            function configData(response,answer){
                var ans_arr = [];
                for (var i=0;i<answer.length;i++){
                    var value = {
                        'stringValue': answer[i],
                        'kind': 'stringValue'
                    }
                    ans_arr[i] = value;
                }
                var res_arr = [];
                for (var i=0;i<response.length;i++){
                    var value = {
                        'stringValue': response[i],
                        'kind': 'stringValue'
                    }
                    res_arr[i] = value;
                }
                var data_type = {
                    'response':{
                        'listValue':{
                            'values':res_arr
                        },
                        'kind': 'listValue'
                    },
                    'answer':{
                        'listValue':{
                            'values':ans_arr
                        },
                        'kind': 'listValue'
                    }
                }
                // console.log(data_type);
                return data_type;
            }
            function sendCodeAgain(answer){
                $('#chat-form input').focus();
                var mess = $(answer).text();
                socket.emit("bookingroom_clientMess_2FA",mess);
                $(answer).css('background-color','rgb(0, 204, 102)');
                $("#phone-number").val(phoneNumber);
                $("#submit-phone-number").click();
            }
            function updatePhoneNumber(answer){
                $('#chat-form input').focus();
                var mess = $(answer).text();
                socket.emit("bookingroom_clientMess_2FA",mess);
                $(answer).css('background-color','rgb(0, 204, 102)');
                setPhoneNumber = true;
                var mess = "Please re-enter your phone number now.";
                var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                var response = [mess];
                var data_config = configData(response,[]);
                showBotMess2FA(newMess,data_config);
            }
            function reset2FA(answer){ //if something wrong in process received code then in here
                $('#chat-form input').focus();
                var mess = $(answer).text();
                socket.emit("bookingroom_clientMess_2FA",mess);
                $(answer).css('background-color','rgb(0, 204, 102)');
                var newMess = "<div class='message'><p class='server-mess'>" + "Please make sure the phone number you have entered is correct." +"</p></div>";
                newMess += "<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>" + 
                                "<p class='answer' onclick='sendCodeAgain(this)'>" + "Send the code again." + "</p>"+
                            "</div>";
                newMess += "<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>" + 
                                "<p class='answer' onclick='updatePhoneNumber(this)'>" + "Update phone number." + "</p>"+
                            "</div>";
                
                var response = ["Please make sure the phone number you have entered is correct."];
                var answer = ["Send the code again.","Update phone number."];
                var data_config = configData(response,answer);
                showBotMess2FA(newMess,data_config);
            }

            function choose(answer){ //click answer will change color background and send mess from client to chatbot
                $('#chat-form input').focus();
                $(answer).css('background-color','rgb(0, 204, 102)');
                var mess = $(answer).text();
                socket.emit("bookingroom_chatbot",mess);
            }

            function getResponse(data){ //analyze mess from chatbot send to client
                var response = data.response.listValue.values;
                var answer = data.answer.listValue.values;
                var image = "";
                if (data.image){
                    image = data.image.listValue.values;
                }
                var video = "";
                var idVideo = "";
                if (data.video){
                    video = data.video.listValue.values;
                    var findStartId = video[0].stringValue.indexOf("?v=");
                    var findStopId = video[0].stringValue.indexOf("&");
                    if (findStopId < 0){
                        findStopId = video[0].stringValue.length;
                    }
                    var idVideo = video[0].stringValue.slice(findStartId+3,findStopId);
                }
                var res_result = "<div class='message'>";
                if (response.length > 0){
                    for (var i=0;i<response.length;i++){
                        res_result += "<p class='server-mess'>" + response[i].stringValue + "</p>";
                    }
                    res_result += "</div>";
                }
                
                var ans_result = "";
                if (answer.length > 0){
                    ans_result = "<div class='message'>";
                    for (var i=0;i<answer.length;i++){
                        if (answer[i].stringValue.indexOf(":#") > -1){
                            var start = answer[i].stringValue.indexOf(":#");
                            var end = answer[i].stringValue.length;
                            var link = answer[i].stringValue.slice(start+2,end);
                            var content = answer[i].stringValue.slice(0,start);
                            ans_result += "<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>" + 
                                        "<p class='answer' ><a href='" + link + "'>" + content + "</a></p>"+
                                    "</div>";
                        }
                        else{
                            ans_result += "<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>" + 
                                        "<p class='answer' onclick='choose(this)'>" + answer[i].stringValue + "</p>"+
                                    "</div>";
                        }

                    }
                    ans_result += "</div>";
                }
                var img_result = "";
                if (image.length > 0){
                    var img_result = "<div class='owl-carousel owl-theme' id='img-owl-carousel'>";
                    for (var i=0;i<image.length;i++){
                        img_result += "<div class='item'>" + image[i].stringValue + "</div>";
                    }
                    img_result += "</div>"; 
                    img_result += "<div class='owl-btn row'>"  +
                                    "<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>" +
                                        "<div class='btn-previous'><i class='fa fa-angle-left' aria-hidden='true'></i></div>" +
                                    "</div>" +
                                    "<div class='col-lg-6 col-md-6  col-sm-6 col-xs-6'>" +
                                        "<div class='btn-next'><i class='fa fa-angle-right' aria-hidden='true'></i></div>" +
                                    "</div>" +
                                  "</div>";
                      
                }
                var video_result = "";
                if (video.length > 0){
                    var video_result = "<div class='message'>";
                    for (var i=0;i<video.length;i++){
                        video_result += "<div class='item'>" +
                                        "<iframe width='400' height='245' src='https://www.youtube.com/embed/" +
                                        idVideo +
                                        "?controls=1'></iframe>" +
                                        "</div>";
                    }
                    video_result += "</div>";
                }
                return (res_result + ans_result + img_result + video_result);
            }

            // function setLanguage(language){ //click to change language
            //     var mess = $(language).text();
            //     var newMess;
            //     if(mess == "English"){
            //         newMess = "en-US";
            //     }
            //     else newMess = "zh-HK";
            //     socket.emit("setlanguage",newMess);
            // }

            // function setCarousel(){
            //     $('.owl-carousel').owlCarousel({
            //         loop:false,
            //         margin:10,
            //         nav:false,
            //         responsive:{
            //             0:{
            //                 items:1
            //             },
            //             250:{
            //                 items:2
            //             },
            //             400:{
            //                 items:3
            //             }
            //         }
            //     })

            //     $('.btn-next').click(function(){
            //         $('#img-owl-carousel').trigger('next.owl.carousel');
            //     })
            //     $('.btn-previous').click(function(){
            //         $('#img-owl-carousel').trigger('prev.owl.carousel');
            //     })
            // }

            // function getPicture(image){
            //     var mess = $(image).attr('data-name');
            //     console.log(image);
            //     var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
            //     $('#chat-content').append(newMess);
            //     $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
            //     var data = [$(image).attr('src'),$(image).attr('data-name')];
            //     socket.emit("bookingroom_chatbot",data);
            // }
            // function deleteAllCookies() {
            //     var cookies = document.cookie.split(";");

            //     for (var i = 0; i < cookies.length; i++) {
            //         var cookie = cookies[i];
            //         var eqPos = cookie.indexOf("=");
            //         var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            //         document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            //     }
            // }
        </script>


    <script type="text/javascript">
        window.onload = function(){
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    // User is signed in.
                    var uid = user.uid;
                    var email = user.email;
                    var photoURL = user.photoURL;
                    var phoneNumber = user.phoneNumber;
                    var isAnonymous = user.isAnonymous;
                    var displayName = user.displayName;
                    var providerData = user.providerData;
                    var emailVerified = user.emailVerified;
                }
                updateSignedInUserStatusUI();
            });
            
            document.getElementById('type-verify-code').addEventListener('submit', onVerifyCodeSubmit);

            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('submit-phone-number', {
                'size': 'invisible',
                'callback': function(response) {
                    // reCAPTCHA solved, allow signInWithPhoneNumber.
                    onSignInSubmit();
                }
            });
            recaptchaVerifier.render().then(function(widgetId) {
                window.recaptchaWidgetId = widgetId;
            });
        }

        function onSignInSubmit() {
            if (isPhoneNumberValid()) {
            window.signingIn = true;
            var phoneNumber = getPhoneNumberFromUserInput();
            var appVerifier = window.recaptchaVerifier;
            firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                .then(function (confirmationResult) {
                    // SMS sent. Prompt user to type the code from the message, then sign the
                    // user in with confirmationResult.confirm(code).
                    var mess = "Please enter the code you have received.";
                    var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                    var response = [mess];
                    var data_config = configData(response,[]);
                    showBotMess2FA(newMess,data_config);
                    setVerifyCode = true;
                    setTimeout(function(){
                        if (setVerifyCode){
                            var mess = "It has been 1 minute and I haven't received a code yet."
                            var newMess = "<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>" + 
                                                "<p class='answer' onclick='reset2FA(this)'>" + mess + "</p>"+
                                            "</div>";
                            var answer = [mess];
                            var data_config = configData([],answer);
                            showBotMess2FA(newMess,data_config);
                        }
                    },60000);
                    
                    window.confirmationResult = confirmationResult;
                    window.signingIn = false;
                }).catch(function (error) {
                    // Error; SMS not sent
                    console.error('Error during signInWithPhoneNumber', error);
                    var mess = "Your phone number is incorrect! Type again";
                    var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                    var response = [mess];
                    var data_config = configData(response,[]);
                    showBotMess2FA(newMess,data_config);
                    // window.alert('Error during signInWithPhoneNumber:\n\n'
                    //     + error.code + '\n\n' + error.message);
                    window.signingIn = false;
                });
            }
            else {
                var mess = "You must type your number right way include country code";
                var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                var response = [mess];
                var data_config = configData(response,[]);
                showBotMess2FA(newMess,data_config);
            }
            recaptchaVerifier.render().then(function(widgetId) {
                window.recaptchaWidgetId = widgetId;
            });
        }

        function onVerifyCodeSubmit(e) {
            e.preventDefault();
            if (!!getCodeFromUserInput()) {
                window.verifyingCode = true;
                var code = getCodeFromUserInput();
                confirmationResult.confirm(code).then(function (result) {
                    // User signed in successfully.
                    setVerifyCode = false;
                    setPhoneNumber = false;
                    var mess = $('#phone-number').val();
                    socket.emit("bookingroom_chatbot",mess);
                    var user = result.user;
                    setInterval(function(){onSignOutClick();},1000);
                    window.verifyingCode = false;
                    window.confirmationResult = null;
                }).catch(function (error) {
                    var mess = "Verification code is incorrect! Type again";
                    var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                    var response = [mess];
                    var data_config = configData(response,[]);
                    showBotMess2FA(newMess,data_config);
                    // User couldn't sign in (bad verification code?)
                    console.error('Error while checking the verification code', error);
                    // window.alert('Error while checking the verification code:\n\n'
                    //     + error.code + '\n\n' + error.message);
                    window.verifyingCode = false;
                });
            }
        }

        function getPhoneNumberFromUserInput() {
            return document.getElementById('phone-number').value;
        }
        function isPhoneNumberValid() {
            var pattern = /^\+[0-9\s\-\(\)]+$/;
            var phoneNumber = getPhoneNumberFromUserInput();
            return phoneNumber.search(pattern) !== -1;
        }
        function getCodeFromUserInput() {
            return document.getElementById('verification-code').value;
        }
        function cancelVerification(e) {
            e.preventDefault();
            window.confirmationResult = null;
        }
        function onSignOutClick() {
            firebase.auth().signOut();
        }
        function updateSignedInUserStatusUI() {
            var user = firebase.auth().currentUser;
            if (user) {
                document.getElementById('show-result').textContent = JSON.stringify(user, null, '  ');
            } else {
                document.getElementById('show-result').textContent = 'null';
            }
        }
    </script>
    </body>
</html>