<html>
    <head>
        <title>NoizChain</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
        <script src="https://localhost/socket.io/socket.io.js"></script>
        <script>
            var socket = io("https://localhost");
        </script>
        <script>
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            if (getCookie("doSurey")){
               // window.open('http://goimpact.today/?page_id=61','_top');
            }
            else setCookie("doSurey",1,30); //set value of para doSurvey = 1 in 30 day
        </script>
        <link rel="stylesheet" href="style/goimpact_style.css" />
        <link rel="stylesheet" href="style/goimpact_responsive.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    </head>
    <body>
    <div id="overlay"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div id="ads">
                    <p class="preload"><span>&#9679;</span><span>&#9679;</span><span>&#9679;</span></p>
                    <div id="chatbot">
                        <div id="wrapper-content">
                            <div id="chat-content">
                            </div>
                        </div>
                    </div>
                    <div id="btn-skip" onclick="skip()"></div>
                </div>
            </div>
        </div>

    </div>
        <script>
            var setPhoneNumber = false;
            var setVerifyCode = false;
            $(document).ready(function(){
                // Init first data from client (session_id, direction_domain, referrer_domain, client_location)
                var pos = document.cookie.indexOf("GOIMPACT_ID");
                var GOIMPACT_ID = document.cookie.slice(pos+12,pos+21);
                var direction_domain = window.location.href;
                var referrer_domain = document.referrer;
                // $.getJSON('http://ip-api.com/json?callback=?', function(data) {
                //     var packetData = new Object();
                //     packetData.GOIMPACT_ID = GOIMPACT_ID;
                //     packetData.direction_domain = direction_domain;
                //     packetData.referrer_domain = referrer_domain;
                //     packetData.client_location = data;
                //     packetData.timestamp = [];
                //     socket.emit("goimpact_init_data",packetData);
                // });
                var packetData = new Object();
                packetData.GOIMPACT_ID = GOIMPACT_ID;
                packetData.direction_domain = direction_domain;
                packetData.referrer_domain = referrer_domain;
                socket.emit("goimpact_init_data",packetData);
                $("#ads").css({'height':'100%'});

                //init chatbot
                    $('#protect-chatbot').css('display','none');
                    socket.emit("goimpact_chatbot",'greeting');
                    $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    setInterval(function(){$('input[name=mess]').focus();}, 500);


                //Receive mess from chatbot
                socket.on("goimpact_chatbot",function(data){
                    $("#ads").css('height','100%');
                    var newMess = getResponse(data);
                    $('#chat-content').append(newMess);
                    $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                })
                // End receive from chatbot
                

                //Send mess from client to chatbot
                $('#cover-input i').click(function(){
                    $('#chat-form').submit();
                })

                $('#chat-form').submit(function(e){
                    e.preventDefault();
                    
                    var mess = $('input[name="mess"]').val();
                    $('input[name="mess"]').val("");
                    if (setPhoneNumber){
                        $("#phone-number").val(mess);
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        $('#chat-content').append(newMess);
                        $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                        if (isPhoneNumberValid()){
                            setPhoneNumber = false;
                            $("#submit-phone-number").click();
                        }
                        else {
                            var newMess = "<div class='message'><p class='server-mess'>" + "Your phone number's incorrect! Type again" +"</p></div>";
                            $('#chat-content').append(newMess);
                            $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                        }
                       

                    }
                    else if(setVerifyCode){
                        // setVerifyCode = false;
                        $('#verification-code').val(mess);
                        $('#submit-verify-code').click();
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        $('#chat-content').append(newMess);
                        $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    }
                    else if(mess!=""){
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        $('#chat-content').append(newMess);
                        socket.emit("goimpact_chatbot",mess);
                        $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    }
                })
                // End send mess from client to chatbot

            })
            function skip(){
                window.open('http://goimpact.today/?page_id=61','_top');
            }
            function choose(answer){ //click answer will change color background and send mess from client to chatbot
                // $("#ads").css('height','0');
                $('#btn-skip').css('display','none');
                $('#chatbot').css('visibility','hidden');
                $('#chat-content').empty();
                $('.preload').css('display','inline-block');

                $(answer).css('background-color','orange');
                var mess = $(answer).text();
                if ($(answer).attr('data')){ //if the button have data then message = data
                    mess = $(answer).attr('data');
                }
                if (mess == "finish"){ //if the button is FINISH then message = SKIP
                    skip();
                }
                else { //normal button will take text of them to message
                    socket.emit("goimpact_chatbot",mess);
                    $("#chat-content").css({'height':'0'});
                }
                setTimeout(function(){
                    $('.preload').css('display','none');
                    $('#btn-skip').css('display','inline-block');
                    $('#chatbot').css('visibility','visible');
                },1000);   
            }

            function getResponse(data){
                data = JSON.parse(data);
                var response = data.response;
                var answer = data.answer;
                var image = data.image;
                var res_result = "";
                var ans_result = "";
                var img_result = "";
                if (response){
                    res_result = "<div class='message'>";
                    for (var i=0;i<response.length;i++){
                        res_result += "<p class='server-mess'>" + response[i] + "</p>";
                    }
                    res_result += "</div>";
                }
                
                if (answer){
                    ans_result = "<div class='message'>";
                    for (var i=0;i<answer.length;i++){
                        if(answer[i].indexOf(":#") == -1 && answer[i].indexOf(":&") == -1){
                            ans_result += "<div class='cover-answer'>" + 
                                            "<p class='answer' onclick='choose(this)'>" + answer[i] + "</p>"+
                                        "</div>";
                        }
                        else if(answer[i].indexOf(":#") > -1){
                            var pos = answer[i].indexOf(":#");
                            var end = answer[i].length;
                            var content = answer[i].slice(0,pos);
                            var color =  answer[i].slice(pos,end);

                            ans_result += "<div class='cover-answer'>" + 
                                        "<p class='answer' style='background-color" + color + "'onclick='choose(this)'>" + content + "</p>"+
                                    "</div>";
                        }
                        else if(answer[i].indexOf(":&") > -1){
                            var pos = answer[i].indexOf(":&");
                            var end = answer[i].length;
                            var content = answer[i].slice(0,pos);
                            var purpose =  answer[i].slice(pos+2,end);

                            ans_result += "<div class='cover-answer'>" + 
                                        "<p class='answer' data='" + purpose + "'onclick='choose(this)'>" + content + "</p>"+
                                    "</div>";
                        }
                    }
                    ans_result += "</div>";
                }
                
                if (image){
                    img_result = "<div class='message'>";
                    for (var i=0;i<image.length;i++){
                        img_result += "<div class='item'>" + image[i] + "</div>";
                    }
                    img_result += "</div>"; 
                }
                return (res_result + ans_result + img_result);
            }

            function getPicture(image){
                $('#btn-skip').css('display','none');
                $('.preload').css('display','inline-block');
                $('#chat-content').empty();

                setTimeout(function(){
                    var mess = $(image).attr('data-name');
                    socket.emit("goimpact_chatbot",mess);
                    $('.preload').css('display','none');
                    $('#btn-skip').css('display','inline-block');
                },1000);
            }
        </script>

    </body>
</html>