<html>
    <head>
        <title>Dialogflow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://localhost");
        </script>

        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
        <script type="text/javascript" src="./js/phone-signin-config.js"></script>
        <script>
            firebase.initializeApp(config);
        </script>

        <link rel="stylesheet" href="style/mcdonald_style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    </head>
    <body>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
        
        
        <div class="container">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div id="ads">
                    <input id="size" data-width=<%=width%> data-height=<%=height%> type="hidden">
                    <div id="chatbot">
                        <div id="brand">
                            <div class="col-xs-offset-6 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-6 col-sm-4 col-md-4 col-lg-4" id="logo-brand">
                                <img src="./img/mcdonald/mcdonalds.png" />
                            </div>
                        </div>
                        <div id="powerBy">
                            <a href="https://noizchain.com/">
                                <img src="./img/mcdonald/logo-noiz.png" />
                                <span>POWERED BY</span>
                            </a>
                        </div>
                        <div id="wrapper-content">
                            <div id="chat-content">
                            </div>
                        </div>
                        <div id="chat-input">
                            <form id="chat-form">
                                <span id="cover-input"><input type="text" name="mess" placeholder="Ask something... "/><i class="fa fa-arrow-circle-up" aria-hidden="true" type="submit"></i></span>
                            </form>
                            <div id="protect-chatbot"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="verify-container" style="display: none">
                <form id="type-phone-number" style="margin-bottom: 30px;">
                    <input placeholder="type your phone number" name="phone-number" id="phone-number"/>
                    <button id="submit-phone-number">Verify</button>
                </form>
                <form id="type-verify-code" style="margin-bottom: 30px;">
                    <input type="text" id="verification-code" type="text" placeholder="type verify code"/>
                    <input id="submit-verify-code" value="Send" type="submit"/>
                </form>
                <div id="show-result"></div>
            </div>

        </div>

    </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script>
            var setPhoneNumber = false;
            var setVerifyCode = false;
            $(document).ready(function(){
                // Init first data from client (session_id, direction_domain, referrer_domain, client_location)
                var pos = document.cookie.indexOf("session_id");
                var session_id = document.cookie.slice(pos+11,pos+20);
                var direction_domain = window.location.href;
                var referrer_domain = document.referrer;
                // console.log(session_id + " - " + direction_domain + " - " + referrer_domain);
                $.getJSON('http://ip-api.com/json?callback=?', function(data) {
                    // customer_location = JSON.stringify(data, null, 2);
                    // console.log(customer_location);
                    var packetData = new Object();
                    packetData.session_id = session_id;
                    packetData.direction_domain = direction_domain;
                    packetData.referrer_domain = referrer_domain;
                    packetData.client_location = data;
                    packetData.timestamp = [];
                    socket.emit("mcdonald_init_data",packetData);
                });
                //Greeting
                var newMess = "<div class='message'><p class='server-mess'>Welcome to McDonald's</p></div>";
                $('#chat-content').append(newMess);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);

                //init chatbot
                $('#protect-chatbot').click(function(){
                    $('#protect-chatbot').css('display','none');
                    socket.emit("mcdonald_chatbot",'I will answer all questions');
                    // socket.emit("mcdonald_chatbot",'phone number');
                    // socket.emit("mcdonald_chatbot",'image');
                    $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    setInterval(function(){$('input[name=mess]').focus();}, 500);
                })

               //multiple size for chatbot
               var width = $("#size").attr('data-width');
                var height = $("#size").attr('data-height');

                var width_device = $("#ads").width();
                if (width > width_device){
                    width = width_device;
                }
                $('#chat-content').css('width',width);
                
                var h1,h2,h3,h4;  
                if (height <= 280){
                    h1 = 37.5; //15%
                    h2 = 15;    // 5.5%
                    h4 = 28.5;  //11.3%
                    h3 = height - h1 - h2 - h4;
                    $('#chatbot').css({'width':width,'height':height}); // max
                    $('#brand').css('height',h1);
                    $('#powerBy').css('height',h2);
                    $('#powerBy span').css('right',60);
                    $('#powerBy span').css('font-size',8);
                    $('#powerBy span').css('line-height','15px');
                    $('#wrapper-content').css('height',h3);
                    $('#chat-content').css('height',h3);
                    $('#chat-input').css('height',h4);
                    $('#cover-input i').css('right',30);
                    $('#cover-input i').css('font-size',20);
                    $('#cover-input i.fa-arrow-circle-up').addClass('changed');
                }
                else if (height <= 480){
                    h1 = 69;
                    h2 = 25.5;
                    h4 = 52;
                    h3 = height - h1 - h2 - h4;
                    $('#chatbot').css({'width':width,'height':height}); // max
                    $('#brand').css('height',h1);
                    $('#powerBy').css('height',h2);
                    $('#powerBy span').css('right',100);
                    $('#powerBy span').css('font-size',10);
                    $('#powerBy span').css('line-height','30px');
                    $('#wrapper-content').css('height',h3);
                    $('#chat-content').css('height',h3);
                    $('#chat-input').css('height',h4);
                    $('#cover-input i').css('right',40);
                    $('#cover-input i').css('font-size',30);
                    $('#cover-input i.fa-arrow-circle-up').removeClass('changed');
                }
                else{
                    h1 = 82;
                    h2 = 30;
                    h4 = 62;
                    h3 = height - h1 - h2 - h4;
                    $('#chatbot').css({'width':width,'height':height}); // max
                    $('#brand').css('height',h1);
                    $('#powerBy').css('height',h2);
                    $('#powerBy span').css('right',100);
                    $('#powerBy span').css('font-size',10);
                    $('#powerBy span').css('line-height','30px');
                    $('#wrapper-content').css('height',h3);
                    $('#chat-content').css('height',h3);
                    $('#chat-input').css('height',h4);
                    $('#cover-input i').css('right',40);
                    $('#cover-input i').css('font-size',30);
                    $('#cover-input i.fa-arrow-circle-up').removeClass('changed');
                }
                // End Multiple size

                //Receive mess from chatbot
                socket.on("mcdonald_chatbot",function(data){
                    var newMess = getResponse(data);
                    $('#chat-content').append(newMess);
                    $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    if (newMess.indexOf("owl-carousel") != -1){
                        setCarousel();
                    }
                })
                socket.on("mcdonald_intent",function(data){
                    if (data == "Check-image-test"){
                        setPhoneNumber = true;
                    }
                })
                // End receive from chatbot
                

                //Send mess from client to chatbot
                $('#cover-input i').click(function(){
                    $('#chat-form').submit();
                })

                $('#chat-form').submit(function(e){
                    e.preventDefault();
                    
                    var mess = $('input[name="mess"]').val();
                    $('input[name="mess"]').val("");
                    if (setPhoneNumber){
                        $("#phone-number").val(mess);
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        $('#chat-content').append(newMess);
                        $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                        if (isPhoneNumberValid()){
                            setPhoneNumber = false;
                            $("#submit-phone-number").click();
                        }
                        else {
                            var newMess = "<div class='message'><p class='server-mess'>" + "Your phone number's incorrect! Type again" +"</p></div>";
                            $('#chat-content').append(newMess);
                            $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                        }
                       

                    }
                    else if(setVerifyCode){
                        // setVerifyCode = false;
                        $('#verification-code').val(mess);
                        $('#submit-verify-code').click();
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        $('#chat-content').append(newMess);
                        $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    }
                    else if(mess!=""){
                        var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                        $('#chat-content').append(newMess);
                        socket.emit("mcdonald_chatbot",mess);
                        $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    }
                })
                // End send mess from client to chatbot
                
            })


            function choose(answer){ //click answer will change color background and send mess from client to chatbot
                $(answer).css('background-color','orange');
                var mess = $(answer).text();
                var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                $('#chat-content').append(newMess);
                socket.emit("mcdonald_chatbot",mess);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
            }

            function getAnswer(data,arr){ //catch question from chatbot and show answer for client
                var result = "<div class='message'><p class='server-mess'>" + data + "</p></div>";
                result += "<div class='message'>";
                for (var i=0;i<arr.length;i++){
                    result += "<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>" + 
                                    "<p class='answer' onclick='choose(this)'>" + arr[i] + "</p>"+
                                "</div>";
                }
                result += "</div>";
                return result;
            }
            function getResponse(data){
                var response = data.response.listValue.values;
                var answer = data.answer.listValue.values;
                var image = "";
                if (data.image){
                    image = data.image.listValue.values;
                }
                var res_result = "<div class='message'>";
                if (response.length > 0){
                    for (var i=0;i<response.length;i++){
                        res_result += "<p class='server-mess'>" + response[i].stringValue + "</p>";
                    }
                    res_result += "</div>";
                }
                
                var ans_result = "";
                if (answer.length > 0){
                    ans_result = "<div class='message'>";
                    for (var i=0;i<answer.length;i++){
                        ans_result += "<div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>" + 
                                        "<p class='answer' onclick='choose(this)'>" + answer[i].stringValue + "</p>"+
                                    "</div>";
                    }
                    ans_result += "</div>";
                }
                var img_result = "";
                if (image.length > 0){
                    var img_result = "<div class='owl-carousel owl-theme' id='img-owl-carousel'>";
                    for (var i=0;i<image.length;i++){
                        img_result += "<div class='item'>" + image[i].stringValue + "</div>";
                    }
                    img_result += "</div>"; 
                    img_result += "<div class='owl-btn row'>"  +
                                    "<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>" +
                                        "<div class='btn-previous'><i class='fa fa-angle-left' aria-hidden='true'></i></div>" +
                                    "</div>" +
                                    "<div class='col-lg-6 col-md-6  col-sm-6 col-xs-6'>" +
                                        "<div class='btn-next'><i class='fa fa-angle-right' aria-hidden='true'></i></div>" +
                                    "</div>" +
                                  "</div>";
                      
                }
                return (res_result + ans_result + img_result);
            }

            function setLanguage(language){ //click to change language
                var mess = $(language).text();
                var newMess;
                if(mess == "English"){
                    newMess = "en-US";
                }
                else newMess = "zh-HK";
                socket.emit("mcdonald_setlanguage",newMess);
            }

            function setCarousel(){
                $('.owl-carousel').owlCarousel({
                    loop:false,
                    margin:10,
                    nav:false,
                    responsive:{
                        0:{
                            items:1
                        },
                        250:{
                            items:2
                        },
                        400:{
                            items:3
                        }
                    }
                })

                $('.btn-next').click(function(){
                    $('#img-owl-carousel').trigger('next.owl.carousel');
                })
                $('.btn-previous').click(function(){
                    $('#img-owl-carousel').trigger('prev.owl.carousel');
                })
            }

            function getPicture(image){
                var mess = $(image).attr('data-name');
                console.log(image);
                var newMess = "<div class='message'><p class='client-mess'>" + mess +"</p></div>";
                $('#chat-content').append(newMess);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                var data = [$(image).attr('src'),$(image).attr('data-name')];
                socket.emit("mcdonald_chatbot",data);
            }
        </script>


    <script type="text/javascript">
        window.onload = function(){
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    // User is signed in.
                    var uid = user.uid;
                    var email = user.email;
                    var photoURL = user.photoURL;
                    var phoneNumber = user.phoneNumber;
                    var isAnonymous = user.isAnonymous;
                    var displayName = user.displayName;
                    var providerData = user.providerData;
                    var emailVerified = user.emailVerified;
                }
                updateSignedInUserStatusUI();
            });
            
            document.getElementById('type-verify-code').addEventListener('submit', onVerifyCodeSubmit);

            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('submit-phone-number', {
                'size': 'invisible',
                'callback': function(response) {
                    // reCAPTCHA solved, allow signInWithPhoneNumber.
                    onSignInSubmit();
                }
            });
            recaptchaVerifier.render().then(function(widgetId) {
                window.recaptchaWidgetId = widgetId;
            });
        }

        function onSignInSubmit() {
            if (isPhoneNumberValid()) {
            window.signingIn = true;
            var phoneNumber = getPhoneNumberFromUserInput();
            var appVerifier = window.recaptchaVerifier;
            firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                .then(function (confirmationResult) {
                    // SMS sent. Prompt user to type the code from the message, then sign the
                    // user in with confirmationResult.confirm(code).
                    var mess = "Type verification code";
                    setVerifyCode = true;
                    var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                    $('#chat-content').append(newMess);
                    $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    window.confirmationResult = confirmationResult;
                    window.signingIn = false;
                }).catch(function (error) {
                    // Error; SMS not sent
                    console.error('Error during signInWithPhoneNumber', error);
                    // window.alert('Error during signInWithPhoneNumber:\n\n'
                    //     + error.code + '\n\n' + error.message);
                    window.signingIn = false;
                });
            }
            else {
                var mess = "You must type your number right way include country code";
                var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                $('#chat-content').append(newMess);
                $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
            }
            recaptchaVerifier.render().then(function(widgetId) {
                window.recaptchaWidgetId = widgetId;
            });
        }

        function onVerifyCodeSubmit(e) {
            e.preventDefault();
            if (!!getCodeFromUserInput()) {
                window.verifyingCode = true;
                var code = getCodeFromUserInput();
                confirmationResult.confirm(code).then(function (result) {
                    // User signed in successfully.
                    setVerifyCode = false;
                    setPhoneNumber = false;
                    var mess = $('#phone-number').val();
                    socket.emit("mcdonald_chatbot",mess);
                    var user = result.user;
                    setInterval(function(){onSignOutClick();},1000);
                    window.verifyingCode = false;
                    window.confirmationResult = null;
                }).catch(function (error) {
                    var mess = "Verification code is incorrect! Type again";
                    var newMess = "<div class='message'><p class='server-mess'>" + mess +"</p></div>";
                    $('#chat-content').append(newMess);
                    $('#wrapper-content').animate({scrollTop: $('#wrapper-content').get(0).scrollHeight}, 500);
                    // User couldn't sign in (bad verification code?)
                    console.error('Error while checking the verification code', error);
                    // window.alert('Error while checking the verification code:\n\n'
                    //     + error.code + '\n\n' + error.message);
                    window.verifyingCode = false;
                });
            }
        }

        function getPhoneNumberFromUserInput() {
            return document.getElementById('phone-number').value;
        }
        function isPhoneNumberValid() {
            var pattern = /^\+[0-9\s\-\(\)]+$/;
            var phoneNumber = getPhoneNumberFromUserInput();
            return phoneNumber.search(pattern) !== -1;
        }
        function getCodeFromUserInput() {
            return document.getElementById('verification-code').value;
        }
        function cancelVerification(e) {
            e.preventDefault();
            window.confirmationResult = null;
        }
        function onSignOutClick() {
            firebase.auth().signOut();
        }
        function updateSignedInUserStatusUI() {
            var user = firebase.auth().currentUser;
            if (user) {
                document.getElementById('show-result').textContent = JSON.stringify(user, null, '  ');
            } else {
                document.getElementById('show-result').textContent = 'null';
            }
        }
    </script>
    </body>
</html>