@font-face{
    font-family: "Didot-Italic";
    src: "Didot-Italic-02.ttf"
}
@font-face{
    font-family: "Lato-Regular";
    src: "Lato-Regular.ttf"
}
@font-face{
    font-family: "Lato-Bold";
    src: "Lato-Bold.ttf"
}
body{
    background: url('../img/bookingroom/hotel_cognitivead_page_bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#content{
    background-color: chocolate;
    height: 800px;
    margin: 40px 5px;
}
#ads{
    height: 100%;
    position: relative;
}
#chatbot{
    width: 400px;
    height: 530px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#bg-init{
    /* background-image: url('../img/bookingroom_new/Key_visual_under_top_bar.jpg'); */
    height: 200px;
}
#title-init{
    /* background-image: url('../img/bookingroom_new/bg visual unde key v.jpg'); */
    padding: 20px;
}
#title-init h3{
    margin-top: 0;
    font-family: 'Didot-Italic';
    font-style: italic;
}
#title-init p{
    font-family: 'Lato-Regular';
    font-size: 14px;
}
#title-init button{
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #AE9364;
    color:white;
    font-family: 'Lato-Bold';
    font-size: 14px;
    margin-bottom: 5px;
}
#wrapper-content-bg{
    /* background-image: url('../img/bookingroom_new/bg visual when dialogue starts.jpg'); */
    position: relative;
    display: none;
}
#wrapper-content{
    width: inherit;
    overflow-y:auto;
    border-bottom: 0px;
    overflow-x:hidden;
    background: transparent;
    /* border-radius: 10px 10px 0px 0px; */
    height: 360px;
    width: 100%;
    scrollbar-width: thin;
}
#chat-content{
    display: table-cell;
    vertical-align: bottom;
    width: 400px;
    /* width: inherit; */
    /* display: flex;
    justify-content: flex-end;
    flex-direction: column; */
    
    /* background-image: url('./img/chat_bg.jpg'); */
    height: 360px;
    overflow-x:hidden;
    /* overflow-y:scroll; */
}
#chat-input{
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    position: absolute;
    bottom: 0;
}
#chat-input input{
    /* margin-top: 30px; */
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    border: 0px;
}
#chat-input input:focus{
    border: 0px solid gold;
    outline: none;
}
.client-mess{
    margin: 10px;
    padding: 10px;
    background-color: black;
    width: fit-content;
    border-radius: 10px 10px 0px 10px;
    float: right;
    color:white;
    font-size: 14px;
    font-family: 'Lato-Bold';
}

.server-mess{
    margin: 10px;
    padding: 10px;
    background-color: #AE9364;
    width: fit-content;
    border-radius: 0 10px 10px 10px;
    float: left;
    color:white;
    font-family: 'Lato-Bold';
    font-size: 14px;
}
.server-mess img{
    width:200px
}
.message{
    clear:both;
    width: inherit;
}
#first-question{
    font-size: 30px;
    color:white;
    text-align: center;
    -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
    margin-top:100px;
    margin-bottom: 50px;
}
.room-or-flight p{
    display: inline-block;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    background-color:chocolate; 
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    color: aliceblue;
    font-size: 20px;
}

#brand{
    height: 50px;
    width:100%;
    background-color:black;
    position: relative;
}
#logo-brand{
    /* text-align: center; */
    position: relative;
    height: 100%;
}
#brand img{
    position: absolute;
    top: 0;
    left: 20;
    bottom: 0;
    margin: auto;
}
#powerBy{
    width: 100%;
    height: 40px;
    background-color: black;
    position: relative;
}
#logo-mobile{
    height: inherit !important;
    left: 10 !important;
}
#powerBy a{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
#powerBy img{
       position: absolute;
       top: 0;
       bottom: 0;
       right: 0;
       left:0;
       margin: auto;
}
#powerBy span{
    color: #b7bbc4;
    text-transform: uppercase;
    position: absolute;
    /* top: 0;
    margin: auto;
    bottom: 0; */
    right: 100;
    font-size: 10px;
    line-height: 30px;
}
#wrapper-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#wrapper-content::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#wrapper-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(155, 151, 151);
}


.answer{
    /* border: 1px solid orange; */
    background-color: rgb(181, 181, 182);
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 50px;
    padding: 5px;
    margin: 5px 0px;
    cursor: pointer;
    font-family: 'Lato-Bold';
    font-size: 14px;
}
.answer a{
    color: white
}
.answer a:hover{
    text-decoration: none;
    color:white;
}
#cover-input{
    position: relative;
}
#cover-input i{
    position: absolute;
    right: 40;
    top: 0;
    bottom: 0;
    color: rgb(114, 113, 113);
    font-size: 30px;
    cursor: pointer;
}
.fa-arrow-circle-up:before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
}
.fa-arrow-circle-up.changed:before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
}
#multiple-size{
    position: absolute;
    margin: auto;
    right: 0;
    color: white;
    top:0;
    bottom: 0;
    width: 215px;
    height: 540px;
    text-align: center;

}
#prime-size{
    /* margin-bottom: 20px; */
    position: absolute;
    width: 100%;
    height: 290px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.chatbot-size{
    /* border: 1px solid rgb(8, 153, 105); */
    border:1px solid white;
    border-radius: 20px;
    margin: 5px 0px;
    height: 30px;
    line-height: 30px;
}
.chatbot-size:hover{
    cursor: pointer;
    background-color: white;
}
#protect-chatbot{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: text;
}
@media only screen and (max-width: 1000px) {
    #multiple-size{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    #chatbot{
        width: auto;
    }
}
.mul-language{
    border: 1px solid gray;
    border-radius: 20px;
    margin: 5px 0px;
    height: 30px;
    line-height: 30px;
}
.mul-language:hover{
    cursor: pointer;
    background-color: gray;
}
.owl-btn{
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: 0 !important;
}
.btn-next{
    display: inline;
    padding: 5px 20px;
    border-radius: 50%;
    background-color: rgba(230, 230, 230,0.5);
    cursor: pointer;
}
.btn-previous{
    display: inline;
    padding: 5px 20px;
    border-radius: 50%;
    background-color: rgba(230, 230, 230,0.5);
    cursor: pointer;
}
#img-owl-carousel{
    clear:both;
    width: inherit;
}
#img-owl-carousel img{
    cursor: pointer;
}
#countdown{
    text-align: center;
    font-size: 100px;
    background-color:rgba(230, 230, 230,0.7);
    color: white;
}
#restart{
    height: 100%;
    width: 20%;
    position: absolute;
    right: 10;
    top: 0;
    color: white;
    cursor: pointer;
}
#restart img{
    height: 50%;
    margin-right: -1px;
}
#restart p{
    margin-top: 20px;
    text-align: center;
    font-family: Lato-bold;
}