@font-face {
    font-family: myFont;
    src: url(HelveticaNeueLTPro-MdCnO_2.otf);
}
body{
    background: url('../img/goimpact/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
#content{
    background-color: chocolate;
    height: 800px;
    margin: 40px 5px;
}
#ads{
    height: 0;
    position: relative;
    /* transition: height 0.5s;
    transition-timing-function: ease-out; */
}
#chatbot{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#wrapper-content{
    width: inherit;
    overflow-y:scroll;
    /* background-image: url('./img/background-chat.png'); */
    /* background-size: 400px 360px; */
    background-size: contain;
    /* border: 1px solid gray; */
    border-bottom: 0px;
    overflow-x:hidden;
    /* border-radius: 10px 10px 0px 0px; */
    height: 360px;
    width: 100%;
    /* background-color: white; */
    display: table;
}
#chat-content{
    display: table-cell;
    vertical-align: middle;
    width: 800px;
    height: 0;
    /* height: 360px; */
    
}

#chat-input{
    height: 60px;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    position: relative;
}
#chat-input input{
    /* margin-top: 30px; */
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    border: 0px;
}
#chat-input input:focus{
    border: 0px solid gold;
    outline: none;
}
.client-mess{
    margin: 10px;
    padding: 10px;
    background-color: rgb(151, 30, 30);
    width: fit-content;
    border-radius: 10px 10px 0px 10px;
    float: right;
    color:white;
}

.server-mess{
    margin-bottom: 20px;
    padding: 0;
    /* background-color: rgb(151, 30, 30); */
    /* background-color: rgb(220, 130, 50); */
    width: 100%;
    border-radius: 0 10px 10px 10px;
    float: left;
    color:white;
    font-size: 30px;
    text-align: center;
    font-family: myFont;
}
.server-mess img{
    width:200px
}
.message{
    clear:both;
    text-align: center;
}
#first-question{
    font-size: 30px;
    color:white;
    text-align: center;
    -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
    margin-top:100px;
    margin-bottom: 50px;
}
.room-or-flight p{
    display: inline-block;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    background-color:chocolate; 
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    color: aliceblue;
    font-size: 20px;
}
#chat-content img{
    /* width: 300px; */
    width: 100%;
}
#brand{
    height: 80px;
    width:100%;
    background-color:rgb(151, 30, 30);
}
#logo-brand{
    text-align: right;
    /* margin-right: 10px; */
}
#brand img{
    height: 100%;
    
}
#powerBy{
    width: 100%;
    height: 30px;
    background-color: #F8F8F8;
    
}
#powerBy a{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
#powerBy img{
       height: 100%;
       position: absolute;
       border: 0;
       /* top: 0;
       margin: auto;
       bottom: 0; */
       right: 10;
}
#powerBy span{
    color: #b7bbc4;
    text-transform: uppercase;
    position: absolute;
    /* top: 0;
    margin: auto;
    bottom: 0; */
    right: 100;
    font-size: 10px;
    line-height: 30px;
}



#wrapper-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#wrapper-content::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#wrapper-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(155, 151, 151);
}

.answer{
    border: 0px solid orange;
    background-color: #26B3AD;
    display: inline-block;
    width: 150px;
    text-align: center;
    color: white;
    /* border-radius: 50px; */
    padding: 5px;
    margin: 5px 0px;
    cursor: pointer;
    margin: 50px;
    border-radius: 3px;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}
#cover-input{
    position: relative;
}
#cover-input i{
    position: absolute;
    right: 40;
    top: 0;
    bottom: 0;
    color: orange;
    font-size: 30px;
    cursor: pointer;
}
.fa-arrow-circle-up:before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
}
.fa-arrow-circle-up.changed:before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
}
#multiple-size{
    position: absolute;
    margin: auto;
    right: 0;
    color: wheat;
    top:0;
    bottom: 0;
    width: 215px;
    height: 540px;
    text-align: center;

}
#prime-size{
    margin-bottom: 20px;
}
.chatbot-size{
    border: 1px solid gray;
    border-radius: 20px;
    margin: 5px 0px;
    height: 30px;
    line-height: 30px;
}
.chatbot-size:hover{
    cursor: pointer;
    background-color: gray;
}
#protect-chatbot{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: text;
}
@media only screen and (max-width: 1000px) {
    #multiple-size{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    #chatbot{
        width: auto;
    }
}
.mul-language{
    border: 1px solid gray;
    border-radius: 20px;
    margin: 5px 0px;
    height: 30px;
    line-height: 30px;
}
.mul-language:hover{
    cursor: pointer;
    background-color: gray;
}
.cover-answer{
    text-align: center;
    display: inline-block;
}
.message .item{
    display: inline-block;
    margin:10px;
    cursor: pointer;
    width:15%;
}
#btn-skip{
    color: white;
    position: absolute;
    top: 60;
    /* bottom: 60; */
    right: 40;
    /* left: 0; */
    border: 1px solid white;
    /* background-color: rgb(160, 156, 156); */
    border-radius: 50% !important;
    text-align: center;
    width: 36px;
    height: 35px;
    margin: auto;
    padding: 7px;
    cursor: pointer;
    border-radius: 3px;
    /* font-size: 23px; */
}
#btn-skip::after, #btn-skip::before{
    position: absolute;
    /* left: 0;
    right:0; */
    content: '';
    height: 20px;
    width: 1px;
    background-color: white;
}
#btn-skip:before {
    transform: rotate(45deg);
  }
  #btn-skip:after {
    transform: rotate(-45deg);
  }
/* #chatbot::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
} */

#chatbot::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}

/* #chatbot::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(155, 151, 151);
} */

.preload {
    display: none;
    font-size: 40px;
    text-align: center;
    color: white;
    width: 100%;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .preload span {
    font-size: 40px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  
  .preload span:nth-child(2) {
    animation-delay: .2s;
  }
  
  .preload span:nth-child(3) {
    animation-delay: .4s;
  }
  
  @keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
  }

  #overlay{
      position: absolute;
      width: 100%;
      height: 100%;
    background-color: rgba(0,0,0,0.5) !important;
  }