/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1350px) {
    .answer {
        margin: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .message .item {
        display: block;
        margin: 3px;
        cursor: pointer;
        width: 100%;
    }

    .answer {
        margin: 5px 5px;
    }
    #btn-skip {
        left: 0;
        right: 0;
    }
    .server-mess{
        font-size: 25px;
    }
    #chatbot{
    	overflow-y:unset
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 